{{!-- dashboard page layout --}}
    <form class="new-post-form">
      <label for="post-title">Post Title:</label>
      <input class="form-input" name="post-title" type="text" value="{{post.title}}" />

      <label for="post-content">Post Content:</label>
      <input class="form-input" name="post-content" type="text" value="{{post.content}}">

      <button class="btn" type="submit">Create Post</button>
    </form>
{{#if posts.length}}
<section>
  <h2 class="card-header">Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
        <div class="card">
        <div class="card-header flex-row justify-space-between">
        <h2>
            <a href="/post/{{id}}">{{post.title}}</a>
        </h2>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
        </div>
        <p class="card-body">{{content}}</p>
        </div>
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>