<article class="post">

    {{#each posts as |post|}}
    <div class="card">
        <h2>
            <a href="/post/{{id}}">{{post.title}}</a>
        </h2>
        {{!-- <p>Posted by {{User.username}} on {{format_date created_at}}</p> --}}
    </div>
    <p class="card-body">{{content}}</p>
    {{/each}}

</article>